#center {
    position: relative;
    height: 100%;
    width: 512px;
    margin: 0 auto;
}

.cont {
    display: block;
    z-index: 0;
}

#cont {
    position: absolute;
    top: 50%;
    margin-top: 270px;
    width: 512px;
    height: 512px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
}

.cont2 {
    display: block;
    z-index: -1;
}

#cont2-1 {
    position: absolute;
    top: 50%;
    margin-top: 270px;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
}

#cont2-2 {
    position: absolute;
    top: 50%;
    margin-top: 270px;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

#cont2-3 {
    position: absolute;
    top: 50%;
    margin-top: 103%;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
}

#cont2-4 {
    position: absolute;
    top: 50%;
    margin-top: 103%;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

.cont3 {
    display: block;
    z-index: -2;
}

#cont2-1-1 {
    position: absolute;
    top: 50%;
    margin-top: 55%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0px;
}

#cont2-1-2 {
    position: absolute;
    top: 50%;
    margin-top: 55%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 128px;
}

#cont2-1-3 {
    position: absolute;
    top: 50%;
    margin-top: 80%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0px;
}

#cont2-1-4 {
    position: absolute;
    top: 50%;
    margin-top: 80%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 384px;
}

#cont2-2-1 {
    position: absolute;
    top: 50%;
    margin-top: 55%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

#cont2-2-2 {
    position: absolute;
    top: 50%;
    margin-top: 55%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 384px;
}

#cont2-2-3 {
    position: absolute;
    top: 50%;
    margin-top: 80%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

#cont2-2-4 {
    position: absolute;
    top: 50%;
    margin-top: 80%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 128px;
}

#cont2-3-1 {
    position: absolute;
    top: 50%;
    margin-top: 105%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0px;
}

#cont2-3-2 {
    position: absolute;
    top: 50%;
    margin-top: 105%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 128px;
}

#cont2-3-3 {
    position: absolute;
    top: 50%;
    margin-top: 130%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0px;
}

#cont2-3-4 {
    position: absolute;
    top: 50%;
    margin-top: 130%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 128px;
}

#cont2-4-1 {
    position: absolute;
    top: 50%;
    margin-top: 105%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

#cont2-4-2 {
    position: absolute;
    top: 50%;
    margin-top: 105%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 384px;
}

#cont2-4-3 {
    position: absolute;
    top: 50%;
    margin-top: 130%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

#cont2-4-4 {
    position: absolute;
    top: 50%;
    margin-top: 130%;
    width: 128px;
    height: 128px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 384px;
}

.imgfill {
    max-width: 100%;
    height: 100%;
}
    
#leftColumn {
    background-color: #ececec;
    padding-bottom: 32.5%;
    opacity: 0.7;
    margin-left: 0;
}

#leftColumnFoot {
    margin-top: 25em;
}

#LangSelect {
    padding-top: 5em;
    padding-left: 3em;
}
#MainContainer {
    margin-left: 0;
    margin-right: 0;
    margin: 0;
}

#backgroundImage {
  position: fixed; 
  top: 0; 
  left: 0; 
    
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
    
    z-index: -1; 
    }
.bottomRight{
    position: absolute; 
    bottom: 5px;
    right: 100px;   
}

.bottomleft {
    position: absolute; 
    bottom: 5px;
    left: 100px;
    
}

#logo {
    opacity: 1.0;
    width:100%;
}

#logo:hover {
    opacity: 0.7;
}