#center {
    position: relative;
    height: 100%;
    width: 512px;
    margin: 0 auto;
}

#cont {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: 270px;
    width: 512px;
    height: 512px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
}

#cont2-1 {

    position: absolute;
    top: 50%;
    margin-top: 270px;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
}

#cont2-2 {

    position: absolute;
    top: 50%;
    margin-top: 270px;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

#cont2-3 {

    position: absolute;
    top: 50%;
    margin-top: 100%;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
}

#cont2-4 {

    position: absolute;
    top: 50%;
    margin-top: 100%;
    width: 256px;
    height: 256px;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 256px;
}

.imgfill {
    max-width: 100%;
    height: 100%;
}
    
#leftColumn {
    background-color: #ececec;
    padding-bottom: 32.5%;
    opacity: 0.7;
    margin-left: 0;
}

#leftColumnFoot {
    margin-top: 25em;
}

#LangSelect {
    padding-top: 5em;
    padding-left: 3em;
}
#MainContainer {
    margin-left: 0;
    margin-right: 0;
    margin: 0;
}

#backgroundImage {
  position: fixed; 
  top: 0; 
  left: 0; 
    
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
    
    z-index: -1; 
    }
.bottomRight{
    position: absolute; 
    bottom: 5px;
    right: 100px;   
}

.bottomleft {
    position: absolute; 
    bottom: 5px;
    left: 100px;
    
}

.circle {
	width: 500px;
	height: 500px;
	background: red;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
    position:absolute;
    margin-top: 15%;
    margin-left: 30%;
}

.circle:hover {
    opacity: 0.6;
}

#HashText1 {
    margin-left: 38%;
    margin-top: 27%;
    position: absolute;
    z-index: 2;
    font-size: 15em;
    }

#logo {
    opacity: 1.0;
    width:100%;
}

#logo:hover {
    opacity: 0.7;
}