#leftColumn {
    background-color: #ececec;
    padding-bottom: 32.5%;
}

#leftColumnFoot {
    margin-top: 25em;
}

#LangSelect {
    padding-top: 5em;
    padding-left: 3em;
}
#MainContainer {
    margin-left: 0;
    margin-right: 0;
    margin: 0;
}

#backgroundImage {
    width: 105%;
    height: 140%;
    margin-left: 0;
    
    }

.circle {
	width: 500px;
	height: 500px;
	background: red;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
    position:absolute;
    margin-top: 15%;
    margin-left: 30%;
}

#HashText1 {
    position: absolute;
    padding-left: 30px;
    padding-top: 15px;
}